In [2]:
import pandas as pd

In [3]:
data = pd.read_csv("dataframe.csv")
data.columns =[column.replace(" ", "_") for column in data.columns]
data

   Age Favorite_Color  Grade              Name
0   20           blue     88    Willard Morris
1   19           blue     95       Al Jennings
2   22         yellow     92      Omar Mullins
3   21          green     70  Spencer McDaniel

In [4]:
colors = ['yellow', 'blue']
filter = data.query("Favorite_Color in @colors and Grade >= 90")
filter

   Age Favorite_Color  Grade          Name
1   19           blue     95   Al Jennings
2   22         yellow     92  Omar Mullins

In [5]:
filter.to_csv('filter.csv')